<!DOCTYPE html>
<html>
<head>
	<title>SoccerStat228</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
	<div id="app" class="wrapper">
		<header class="header">
			<div class="logo">
				<a href="index.html"><img src="img/logo.png" height="50px">
				<span class="logo_title">SoccerStat</span></a>
			</div>
			<div class="navbar_item" v-for="navbar_item in navbar_items"><a v-bind:href="navbar_item.href" @click="goToNextPage()">{{ navbar_item.title }}</a></div>
		</header>
		<main class="main">
			<div class="content_title">
				<span class="content_title_text">{{ titles[0].text }}</span>
			</div>
			<div class="leagues list">
				<div class="league api_unit" v-for="league in leagues">
					<a href="#" @click="goToCalendar(league.code, league.name, 'competitions')">
						<span>{{ league.name }}</span>
					</a>
				</div>
			</div>
			<div class="teams list">
			  <div class="team api_unit" v-for="team in teams">
			    <a href="#" @click="goToCalendar(team.code, team.name, 'teams')">
			      <img v-bind:src="team.icon">
			      <span>{{ team.name }}</span>
			    </a>
			  </div>
			</div>
			<div class="calendar">
				<div class="date_selector">
					<input id="date_from" type="date" v-model="dateFrom" value="2021-12-01">
					<input id="date_to" type="date" v-model="dateTo" value="2021-12-10">
					<input id="btn_show" type="submit" value="Показать" @click="goToCalendar(currentCode, currentName, currentType)">
				</div>
				<div class="matches list">
					<div class="match" v-for="match in matches">
						<div class="match_date">
							<span class="date">{{ match.date }}</span><br>
							<span class="time">{{ match.time }}</span>
						</div>
						<div class="duel">
							<span class="hometeam">{{ match.hometeam }}</span>
							<span class="delimiter"> : </span>
							<span class="awayteam">{{ match.awayteam }}</span>
						</div>
						<div class="score_container">
							<span class="score">{{ match.score }}</span>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="logo">
				<a href="index.html"><img src="img/logo.png" height="50px">
				<span class="logo_title">SoccerStat</span></a>
			</div>
			<span>SoccerStat обслуживает более миллионы любителей спорта по всему миру. Мы гордимся тем, что сообщаем самые быстрые и точные новости о счете в реальном времени в Интернете. В сфере футбола мы предоставляем информацию о календаре и результатах игр, командах и таблицах лиг, статистику матчей в реальном времени и сроки проведения множества соревнований по всему миру.</span>
			<span>Copyright ©2021 soccerstat.com / Все права защищены</span>
		</footer>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>
