* {
	margin: 0;
	font-family: Arial;
}
.header {
	background-color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 5px 100px 1px rgba(0, 0, 0, 0.5);
}
a {
	color: #fff;
	text-decoration: none;
}
.navbar_item {
	font-size: 20pt;
}
.navbar_item:hover {
	font-size: 20pt;
	border-bottom: 24px solid red;
}